body {
  background-color: #352F44;
}

.fsjs-wrapper {
  margin: 2em auto 0 auto;
}

h1 {
  font-family: 'Julia Works';
  font-weight: 700 !important;
  font-size: 6rem !important;
}

#wrapper .dk-selected,
#wrapper .dk-select-options {
  background-color: #5C5470 !important;
  color: #FAF0E6;
}

#wrapper .dk-option-highlight {
  background-color: #524a65 !important;
  color: #FAF0E6 !important;
}

#wrapper .rangeSlider__handle {
  background: #5C5470;
  border: 1px solid #FAF0E6;
}

#wrapper,
#wrapper p {
  background-color: #352F44 !important;
  color: #FAF0E6 !important;
}

#wrapper .rangeSlider {
  position: relative;
  background: #FAF0E6;
}

#wrapper .rangeSlider__fill {
  background: #FAF0E6;
  position: absolute;
}

#wrapper .fsjs-skin .fsjs-button,
#wrapper .fsjs-skin .fsjs-block-type-buttongroup button,
#wrapper .fsjs-skin .dk-selected,
#wrapper .fsjs-skin .dk-select-options {
  border: 1px solid #FAF0E6;
}

#wrapper .fsjs-skin .dk-selected:after {
  border-left: 1px solid #FAF0E6;
}

#wrapper .fsjs-skin .rangeSlider {
  background: #FAF0E6;
}

#wrapper .fsjs-block-type-textfield {
  line-height: 1.1 !important;
  text-align: center;
  padding-top: 1.5em;
}

#wrapper .fsjs-skin .dk-selected:before {
  top: 50%;
  border: solid transparent;
  border-width: 0.25em 0.25em 0;
  border-top-color: #FAF0E6;
  margin: -0.125em 0.5em 0 0;
}