---
title: 'The Rader'
date: 2023-07-02
pathName: 'rader'
placeholder: 'Waves flung themselves at the blue evening.'
tags:
  - Sans
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tiny.cloud/1/f28ukwf34ny0macfkqqmpuaewozlxo5fsroddxfwe9matynm/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script src="/js/fontsampler/fontsampler.js"></script>
  <script src="/js/fontsampler/fontsampler-skin.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/fonts/{{ pathName }}.js"></script>
  <link rel="stylesheet" href="/css/fontsampler/fontsampler-skin.css">
  <link rel="stylesheet" href="/css/fonts/kollektif.css">
  <link rel="stylesheet" href="/css/fonts/{{ pathName }}.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>{{ title }}</title>
</head>

<body>
  <main>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-bs-toggle="tab" href="#typetester" aria-selected="true"
          role="tab">Typetester</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#texteditor" aria-selected="false" role="tab"
          tabindex="-1">Texteditor</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#download" aria-selected="false" tabindex="-1"
          role="tab">Download</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-bs-toggle="tab" href="#info" aria-selected="false" tabindex="-1" role="tab">Info</a>
      </li>
    </ul>
    <div id="typeTester" class="tab-content">
      <div class="tab-pane fade active show" id="typetester" role="tabpanel">
        <div class="wrapper">
          <div class="container">
            <div id="demo">{{ placeholder }}</div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="texteditor" role="tabpanel">
        <div class="texteditor">
          <textarea id="editor">
          <h1 style="font-size: 48px; line-height: 1;">Whereas recognition of the inherent dignity</h1>
          <p style="font-size: 16px; line-height: 1.1">From the 1948 Universal Declaration of Human Rights:</p>
          <blockquote style="font-size: 16px; line-height: 1.1">"No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair and
          public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any
          criminal charge against him. No one shall be subjected to arbitrary interference with his privacy, family, home or
          correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law
          against such interference or attacks."</blockquote>
          <p style="font-size: 14px; line-height: 1.1">Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his
          religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his
          religion or belief in teaching, practice, worship and observance. Everyone has the right to freedom of opinion and
          expression; this right includes freedom to hold opinions without interference and to seek, receive and impart
          information and ideas through any media and regardless of frontiers. Everyone has the right to rest and leisure,
          including reasonable limitation of working hours and periodic holidays with pay.</p>
          <br>
        </textarea>
        </div>
      </div>
      <div class="tab-pane fade" id="download" role="tabpanel">
        <div class="download">
          <h4>Instructions</h4>
          <p>Download and extract the zip archive. Double-click on either the TTF- och OTF-files located in the desktop
            folder and click "install" when the system font software starts.</p>
          <h5><a href="/downloads/Rader.zip" class="btn btn-primary my-btn" download>Download</a></h5>
        </div>
      </div>
      <div class="tab-pane fade" id="info" role="tabpanel">
        <div class="fontinfo">
          <h4>Creator</h4>
          <p>Johanna Fagerås</p>
          <h4>Legal</h4>
          <p>Copyright © 2023 by <a href="https://johfa.io" target="_blank">Johanna Fagerås</a> | All rights reserved.
          </p>
          <h4>Licence</h4>
          <p><a href="http://scripts.sil.org/OFL" target="_blank">OFL</a></p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>