@font-face {
  font-family: 'Alice Script Thin';
  src: url('/fonts/alice-script/AliceScript-Thin.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice Script Light';
  src: url('/fonts/alice-script/AliceScript-Light.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice Script Regular';
  src: url('/fonts/alice-script/AliceScript-Regular.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice Script Medium';
  src: url('/fonts/alice-script/AliceScript-Medium.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice Script Bold';
  src: url('/fonts/alice-script/AliceScript-Bold.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alice Script Black';
  src: url('/fonts/alice-script/AliceScript-Black.woff2') format('woff2'),
       url('/fonts/alice-script/AliceScript-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}