@font-face {
  font-family: 'Alma Grotesque Thin';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Thin.woff2') format('woff2'),
       url('/fonts/alma-grotesque/AlmaGrotesque-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Thin Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-ThinItalic.woff2') format('woff2'),
       url('/fonts/alma-grotesque/AlmaGrotesque-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alma Grotesque Light';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Light.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Light Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-LightItalic.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alma Grotesque Regular';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Regular.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Italic.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alma Grotesque Medium';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Medium.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Medium Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-MediumItalic.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alma Grotesque Bold';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Bold.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Bold Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-BoldItalic.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alma Grotesque Black';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-Black.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alma Grotesque Black Italic';
  src: url('/fonts/alma-grotesque/AlmaGrotesque-BlackItalic.woff2') format('woff2'),
    url('/fonts/alma-grotesque/AlmaGrotesque-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
