@font-face {
    font-family: 'Base Mono Wide Bold Italic';
    src: url('/fonts/base-mono-wide/BaseMonoWide-BoldItalic.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Wide Bold';
    src: url('/fonts/base-mono-wide/BaseMonoWide-Bold.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Wide Regular';
    src: url('/fonts/base-mono-wide/BaseMonoWide-Regular.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Wide Medium';
    src: url('/fonts/base-mono-wide/BaseMonoWide-Medium.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Wide Medium Italic';
    src: url('/fonts/base-mono-wide/BaseMonoWide-MediumItalic.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Wide Italic';
    src: url('/fonts/base-mono-wide/BaseMonoWide-Italic.woff2') format('woff2'),
        url('/fonts/base-mono-wide/BaseMonoWide-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

