@font-face {
    font-family: 'Base Mono Narrow Regular';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-Regular.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Narrow Italic';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-Italic.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Narrow Bold Italic';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-BoldItalic.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Narrow Medium';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-Medium.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Narrow Bold';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-Bold.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Base Mono Narrow Medium Italic';
    src: url('/fonts/base-mono-narrow/BaseMonoNarrow-MediumItalic.woff2') format('woff2'),
        url('/fonts/base-mono-narrow/BaseMonoNarrow-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

