@font-face {
  font-family: 'Baton Rouge Light';
  src: url('/fonts/baton-rouge/BatonRouge-Light.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Light Italic';
  src: url('/fonts/baton-rouge/BatonRouge-LightItalic.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Regular';
  src: url('/fonts/baton-rouge/BatonRouge-Regular.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Italic';
  src: url('/fonts/baton-rouge/BatonRouge-Italic.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Medium';
  src: url('/fonts/baton-rouge/BatonRouge-Medium.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Medium Italic';
  src: url('/fonts/baton-rouge/BatonRouge-MediumItalic.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Bold';
  src: url('/fonts/baton-rouge/BatonRouge-Bold.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Bold Italic';
  src: url('/fonts/baton-rouge/BatonRouge-BoldItalic.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Black';
  src: url('/fonts/baton-rouge/BatonRouge-Black.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baton Rouge Black Italic';
  src: url('/fonts/baton-rouge/BatonRouge-BlackItalic.woff2') format('woff2'),
       url('/fonts/baton-rouge/BatonRouge-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
