@font-face {
  font-family: 'Bison Thin Outline';
  src: url('/fonts/bison/Bison-ThinOutline.woff2') format('woff2'),
    url('/fonts/bison/Bison-ThinOutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison Thin Italic Outline';
  src: url('/fonts/bison/Bison-ThinItalicOutline.woff2') format('woff2'),
    url('/fonts/bison/Bison-ThinItalicOutline.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bison Light';
  src: url('/fonts/bison/Bison-Light.woff2') format('woff2'),
       url('/fonts/bison/Bison-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison Light Italic';
  src: url('/fonts/bison/Bison-LightItalic.woff2') format('woff2'),
    url('/fonts/bison/Bison-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bison Regular';
  src: url('/fonts/bison/Bison-Regular.woff2') format('woff2'),
    url('/fonts/bison/Bison-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison Italic';
  src: url('/fonts/bison/Bison-Italic.woff2') format('woff2'),
    url('/fonts/bison/Bison-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bison SemiBold';
  src: url('/fonts/bison/Bison-SemiBold.woff2') format('woff2'),
    url('/fonts/bison/Bison-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison SemiBold Italic';
  src: url('/fonts/bison/Bison-SemiBoldItallic.woff2') format('woff2'),
    url('/fonts/bison/Bison-SemiBoldItallic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bison Bold';
  src: url('/fonts/bison/Bison-Bold.woff2') format('woff2'),
    url('/fonts/bison/Bison-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison Bold Italic';
  src: url('/fonts/bison/Bison-BoldItalic.woff2') format('woff2'),
    url('/fonts/bison/Bison-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bison Bold Outline';
  src: url('/fonts/bison/Bison-BoldOutline.woff2') format('woff2'),
    url('/fonts/bison/Bison-BoldOutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bison Bold Italic Outline';
  src: url('/fonts/bison/Bison-BoldItalicOutline.woff2') format('woff2'),
    url('/fonts/bison/Bison-BoldItalicOutline.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
