@font-face {
  font-family: 'Blackout Two AM';
  src: url('/fonts/blackout/Blackout-TwoAM.woff2') format('woff2'),
       url('/fonts/blackout/Blackout-TwoAM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blackout Midnight';
  src: url('/fonts/blackout/Blackout-Midnight.woff2') format('woff2'),
    url('/fonts/blackout/Blackout-Midnight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blackout Sunrise';
  src: url('/fonts/blackout/Blackout-Sunrise.woff2') format('woff2'),
    url('/fonts/blackout/Blackout-Sunrise.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
