@font-face {
  font-family: 'Boxy Thin';
  src: url('/fonts/boxy/Boxy-Thin.woff2') format('woff2'),
       url('/fonts/boxy/Boxy-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boxy Light';
  src: url('/fonts/boxy/Boxy-Light.woff2') format('woff2'),
       url('/fonts/boxy/Boxy-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boxy Regular';
  src: url('/fonts/boxy/Boxy-Regular.woff2') format('woff2'),
       url('/fonts/boxy/Boxy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boxy Medium';
  src: url('/fonts/boxy/Boxy-Medium.woff2') format('woff2'),
       url('/fonts/boxy/Boxy-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Boxy Bold';
  src: url('/fonts/boxy/Boxy-Bold.woff2') format('woff2'),
       url('/fonts/boxy/Boxy-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
