@font-face {
  font-family: 'Bubbelgum OT Regular';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-Regular.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbelgum OT Italic';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-Italic.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbelgum OT Bold';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-Bold.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbelgum OT Bold Italic';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-BoldItalic.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbelgum OT Black';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-Black.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bubbelgum OT Black Italic';
  src: url('/fonts/bubbelgum-ot/BubbelgumOT-BlackItalic.woff2') format('woff2'),
       url('/fonts/bubbelgum-ot/BubbelgumOT-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
