@font-face {
  font-family: 'Cajsa Swirl Thin';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Thin.woff2') format('woff2'),
       url('/fonts/cajsa-swirl/CajsaSwirl-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cajsa Swirl Light';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Light.woff2') format('woff2'),
    url('/fonts/cajsa-swirl/CajsaSwirl-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cajsa Swirl Regular';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Regular.woff2') format('woff2'),
    url('/fonts/cajsa-swirl/CajsaSwirl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cajsa Swirl Medium';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Medium.woff2') format('woff2'),
    url('/fonts/cajsa-swirl/CajsaSwirl-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cajsa Swirl Bold';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Bold.woff2') format('woff2'),
    url('/fonts/cajsa-swirl/CajsaSwirl-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cajsa Swirl Black';
  src: url('/fonts/cajsa-swirl/CajsaSwirl-Black.woff2') format('woff2'),
    url('/fonts/cajsa-swirl/CajsaSwirl-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
