@font-face {
    font-family: 'Carlito Regular';
    src: url('/fonts/carlito/Carlito-Regular.woff2') format('woff2'),
        url('/fonts/carlito/Carlito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carlito Medium';
    src: url('/fonts/carlito/Carlito-Medium.woff2') format('woff2'),
        url('/fonts/carlito/Carlito-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carlito Bold';
    src: url('/fonts/carlito/Carlito-Bold.woff2') format('woff2'),
        url('/fonts/carlito/Carlito-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

