@font-face {
    font-family: 'Expo Regular';
    src: url('/fonts/expo/Expo-Regular.woff2') format('woff2'),
        url('/fonts/expo/Expo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Medium';
    src: url('/fonts/expo/Expo-Medium.woff2') format('woff2'),
        url('/fonts/expo/Expo-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Thin';
    src: url('/fonts/expo/Expo-Thin.woff2') format('woff2'),
        url('/fonts/expo/Expo-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Light';
    src: url('/fonts/expo/Expo-Light.woff2') format('woff2'),
        url('/fonts/expo/Expo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Expo Bold';
    src: url('/fonts/expo/Expo-Bold.woff2') format('woff2'),
        url('/fonts/expo/Expo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

