@font-face {
    font-family: 'Funkis Light';
    src: url('/fonts/funkis/Funkis-Light.woff2') format('woff2'),
        url('/fonts/funkis/Funkis-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funkis Regular';
    src: url('/fonts/funkis/Funkis-Regular.woff2') format('woff2'),
        url('/fonts/funkis/Funkis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funkis Bold';
    src: url('/fonts/funkis/Funkis-Bold.woff2') format('woff2'),
        url('/fonts/funkis/Funkis-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

