@font-face {
  font-family: 'Gardot Regular';
  src: url('/fonts/gardot/Gardot-Regular.woff2') format('woff2'),
       url('/fonts/gardot/Gardot-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gardot Italic';
  src: url('/fonts/gardot/Gardot-Italic.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Gardot Bold';
  src: url('/fonts/gardot/Gardot-Bold.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gardot Bold Italic';
  src: url('/fonts/gardot/Gardot-BoldItalic.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gardot Small Caps';
  src: url('/fonts/gardot/Gardot-SmallCaps.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-SmallCaps.woff') format('woff');
}

@font-face {
  font-family: 'Gardot All Small Caps';
  src: url('/fonts/gardot/Gardot-AllSmallCaps.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-AllSmallCaps.woff') format('woff');
}

@font-face {
  font-family: 'Gardot Petite Caps';
  src: url('/fonts/gardot/Gardot-PetiteCaps.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-PetiteCaps.woff') format('woff');
}

@font-face {
  font-family: 'Gardot All Petite Caps';
  src: url('/fonts/gardot/Gardot-AllPetiteCaps.woff2') format('woff2'),
    url('/fonts/gardot/Gardot-AllPetiteCaps.woff') format('woff');
}