@font-face {
    font-family: 'Gardot Sans Black';
    src: url('/fonts/gardot-sans/GardotSans-Black.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Black Italic';
    src: url('/fonts/gardot-sans/GardotSans-BlackItalic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Light Italic';
    src: url('/fonts/gardot-sans/GardotSans-LightItalic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Italic';
    src: url('/fonts/gardot-sans/GardotSans-Italic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Medium Italic';
    src: url('/fonts/gardot-sans/GardotSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Thin';
    src: url('/fonts/gardot-sans/GardotSans-Thin.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Medium';
    src: url('/fonts/gardot-sans/GardotSans-Medium.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Regular';
    src: url('/fonts/gardot-sans/GardotSans-Regular.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Bold';
    src: url('/fonts/gardot-sans/GardotSans-Bold.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Bold Italic';
    src: url('/fonts/gardot-sans/GardotSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Thin Italic';
    src: url('/fonts/gardot-sans/GardotSans-ThinItalic.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gardot Sans Light';
    src: url('/fonts/gardot-sans/GardotSans-Light.woff2') format('woff2'),
        url('/fonts/gardot-sans/GardotSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

