@font-face {
    font-family: 'Goran Irregular Condensed';
    src: url('/fonts/goran-irregular/GoranIrregular-Condensed.woff2') format('woff2'),
        url('/fonts/goran-irregular/GoranIrregular-Condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goran Irregular Normal';
    src: url('/fonts/goran-irregular/GoranIrregular-Normal.woff2') format('woff2'),
        url('/fonts/goran-irregular/GoranIrregular-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goran Irregular Expanded';
    src: url('/fonts/goran-irregular/GoranIrregular-Expanded.woff2') format('woff2'),
        url('/fonts/goran-irregular/GoranIrregular-Expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

