@font-face {
    font-family: 'H22 Capitals Thin';
    src: url('/fonts/h22-capitals/H22Capitals-Thin.woff2') format('woff2'),
        url('/fonts/h22-capitals/H22Capitals-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'H22 Capitals Light';
    src: url('/fonts/h22-capitals/H22Capitals-Light.woff2') format('woff2'),
        url('/fonts/h22-capitals/H22Capitals-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'H22 Capitals Regular';
    src: url('/fonts/h22-capitals/H22Capitals-Regular.woff2') format('woff2'),
        url('/fonts/h22-capitals/H22Capitals-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'H22 Capitals Medium';
    src: url('/fonts/h22-capitals/H22Capitals-Medium.woff2') format('woff2'),
        url('/fonts/h22-capitals/H22Capitals-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'H22 Capitals Bold';
    src: url('/fonts/h22-capitals/H22Capitals-Bold.woff2') format('woff2'),
        url('/fonts/h22-capitals/H22Capitals-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

