@font-face {
  font-family: 'Hanna Serif Regular';
  src: url('/fonts/hanna-serif/HannaSerif-Regular.woff2'),
    url('/fonts/hanna-serif/HannaSerif-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Italic';
  src: url('/fonts/hanna-serif/HannaSerif-Italic.woff2'),
    url('/fonts/hanna-serif/HannaSerif-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hanna Serif Medium';
  src: url('/fonts/hanna-serif/HannaSerif-Medium.woff2'),
    url('/fonts/hanna-serif/HannaSerif-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Medium Italic';
  src: url('/fonts/hanna-serif/HannaSerif-MediumItalic.woff2'),
    url('/fonts/hanna-serif/HannaSerif-MediumItalic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hanna Serif Bold';
  src: url('/fonts/hanna-serif/HannaSerif-Bold.woff2'),
    url('/fonts/hanna-serif/HannaSerif-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Bold Italic';
  src: url('/fonts/hanna-serif/HannaSerif-BoldItalic.woff2'),
    url('/fonts/hanna-serif/HannaSerif-BoldItalic.woff');
  font-weight: normal;
  font-style: italic;
}
