@font-face {
  font-family: 'Hanna Serif SC Regular';
  src: url('/fonts/hanna-serif-sc/HannaSerifSC-Regular.woff2'),
    url('/fonts/hanna-serif-sc/HannaSerifSC-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif SC Italic';
  src: url('/fonts/hanna-serif-sc/HannaSerifSC-Italic.woff2'),
    url('/fonts/hanna-serif-sc/HannaSerifSC-Italic.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif SC Bold';
  src: url('/fonts/hanna-serif-sc/HannaSerifSC-Bold.woff2'),
    url('/fonts/hanna-serif-sc/HannaSerifSC-Bold.woff');
  font-weight: normal;
  font-style: normal;
}
