@font-face {
  font-family: 'Hanna Serif Swash Regular';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-Regular.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-Regular.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Swash Italic';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-Italic.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-Italic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hanna Serif Swash Medium';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-Medium.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-Medium.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Swash Medium Italic';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-MediumItalic.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-MediumItalic.woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Hanna Serif Swash Bold';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-Bold.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-Bold.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hanna Serif Swash Bold Italic';
  src: url('/fonts/hanna-serif-swash/HannaSerifSwash-BoldItalic.woff2'),
    url('/fonts/hanna-serif-swash/HannaSerifSwash-BoldItalic.woff');
  font-weight: normal;
  font-style: italic;
}