@font-face {
    font-family: 'JF Cormorant Light';
    src: url('/fonts/jf-cormorant/JFCormorant-Light.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Light Italic';
    src: url('/fonts/jf-cormorant/JFCormorant-LightItalic.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Regular';
    src: url('/fonts/jf-cormorant/JFCormorant-Regular.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Italic';
    src: url('/fonts/jf-cormorant/JFCormorant-Italic.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Medium';
    src: url('/fonts/jf-cormorant/JFCormorant-Medium.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Medium Italic';
    src: url('/fonts/jf-cormorant/JFCormorant-MediumItalic.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant SemiBold';
    src: url('/fonts/jf-cormorant/JFCormorant-SemiBold.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant SemiBold Italic';
    src: url('/fonts/jf-cormorant/JFCormorant-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Bold';
    src: url('/fonts/jf-cormorant/JFCormorant-Bold.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Cormorant Bold Italic';
    src: url('/fonts/jf-cormorant/JFCormorant-BoldItalic.woff2') format('woff2'),
        url('/fonts/jf-cormorant/JFCormorant-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

