@font-face {
    font-family: 'JF Infant Light';
    src: url('/fonts/jf-infant/JFInfant-Light.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Light Italic';
    src: url('/fonts/jf-infant/JFInfant-LightItalic.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Regular';
    src: url('/fonts/jf-infant/JFInfant-Regular.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Italic';
    src: url('/fonts/jf-infant/JFInfant-Italic.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Medium';
    src: url('/fonts/jf-infant/JFInfant-Medium.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Medium Italic';
    src: url('/fonts/jf-infant/JFInfant-MediumItalic.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant SemiBold';
    src: url('/fonts/jf-infant/JFInfant-SemiBold.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant SemiBold Italic';
    src: url('/fonts/jf-infant/JFInfant-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Bold';
    src: url('/fonts/jf-infant/JFInfant-Bold.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Infant Bold Italic';
    src: url('/fonts/jf-infant/JFInfant-BoldItalic.woff2') format('woff2'),
        url('/fonts/jf-infant/JFInfant-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

