@font-face {
    font-family: 'JF Small Caps Light';
    src: url('/fonts/jf-small-caps/JFSmallCaps-Light.woff2') format('woff2'),
        url('/fonts/jf-small-caps/JFSmallCaps-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Small Caps Regular';
    src: url('/fonts/jf-small-caps/JFSmallCaps-Regular.woff2') format('woff2'),
        url('/fonts/jf-small-caps/JFSmallCaps-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Small Caps Medium';
    src: url('/fonts/jf-small-caps/JFSmallCaps-Medium.woff2') format('woff2'),
        url('/fonts/jf-small-caps/JFSmallCaps-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Small Caps SemiBold';
    src: url('/fonts/jf-small-caps/JFSmallCaps-SemiBold.woff2') format('woff2'),
        url('/fonts/jf-small-caps/JFSmallCaps-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Small Caps Bold';
    src: url('/fonts/jf-small-caps/JFSmallCaps-Bold.woff2') format('woff2'),
        url('/fonts/jf-small-caps/JFSmallCaps-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

