@font-face {
    font-family: 'JF Upright Light';
    src: url('/fonts/jf-upright/JFUpright-Light.woff2') format('woff2'),
        url('/fonts/jf-upright/JFUpright-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Upright Regular';
    src: url('/fonts/jf-upright/JFUpright-Regular.woff2') format('woff2'),
        url('/fonts/jf-upright/JFUpright-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Upright Medium';
    src: url('/fonts/jf-upright/JFUpright-Medium.woff2') format('woff2'),
        url('/fonts/jf-upright/JFUpright-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Upright SemiBold';
    src: url('/fonts/jf-upright/JFUpright-SemiBold.woff2') format('woff2'),
        url('/fonts/jf-upright/JFUpright-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Upright Bold';
    src: url('/fonts/jf-upright/JFUpright-Bold.woff2') format('woff2'),
        url('/fonts/jf-upright/JFUpright-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

