@font-face {
    font-family: 'JF Unicase Light';
    src: url('/fonts/jf-unicase/JFUnicase-Light.woff2') format('woff2'),
        url('/fonts/jf-unicase/JFUnicase-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Unicase Regular';
    src: url('/fonts/jf-unicase/JFUnicase-Regular.woff2') format('woff2'),
        url('/fonts/jf-unicase/JFUnicase-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Unicase Medium';
    src: url('/fonts/jf-unicase/JFUnicase-Medium.woff2') format('woff2'),
        url('/fonts/jf-unicase/JFUnicase-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Unicase SemiBold';
    src: url('/fonts/jf-unicase/JFUnicase-SemiBold.woff2') format('woff2'),
        url('/fonts/jf-unicase/JFUnicase-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JF Unicase Bold';
    src: url('/fonts/jf-unicase/JFUnicase-Bold.woff2') format('woff2'),
        url('/fonts/jf-unicase/JFUnicase-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

