@font-face {
  font-family: 'Julia Display Regular';
  src: url('/fonts/julia-display/JuliaDisplay-Regular.woff2') format('woff2'),
       url('/fonts/julia-display/JuliaDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Julia Display Bold';
  src: url('/fonts/julia-display/JuliaDisplay-Bold.woff2') format('woff2'),
       url('/fonts/julia-display/JuliaDisplay-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Julia Display Black';
  src: url('/fonts/julia-display/JuliaDisplay-Black.woff2') format('woff2'),
       url('/fonts/julia-display/JuliaDisplay-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
