@font-face {
    font-family: 'Juno Bold';
    src: url('/fonts/juno/Juno-Bold.woff2') format('woff2'),
        url('/fonts/juno/Juno-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Black Italic';
    src: url('/fonts/juno/Juno-BlackItalic.woff2') format('woff2'),
        url('/fonts/juno/Juno-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Black';
    src: url('/fonts/juno/Juno-Black.woff2') format('woff2'),
        url('/fonts/juno/Juno-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Light Italic';
    src: url('/fonts/juno/Juno-LightItalic.woff2') format('woff2'),
        url('/fonts/juno/Juno-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Light';
    src: url('/fonts/juno/Juno-Light.woff2') format('woff2'),
        url('/fonts/juno/Juno-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Thin';
    src: url('/fonts/juno/Juno-Thin.woff2') format('woff2'),
        url('/fonts/juno/Juno-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Thin Italic';
    src: url('/fonts/juno/Juno-ThinItalic.woff2') format('woff2'),
        url('/fonts/juno/Juno-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Italic';
    src: url('/fonts/juno/Juno-Italic.woff2') format('woff2'),
        url('/fonts/juno/Juno-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Bold Italic';
    src: url('/fonts/juno/Juno-BoldItalic.woff2') format('woff2'),
        url('/fonts/juno/Juno-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Juno Regular';
    src: url('/fonts/juno/Juno-Regular.woff2') format('woff2'),
        url('/fonts/juno/Juno-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

