@font-face {
  font-family: 'Lark Thin';
  src: url('/fonts/lark/Lark-Thin.woff2') format('woff2'),
       url('/fonts/lark/Lark-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lark Thin Italic';
  src: url('/fonts/lark/Lark-ThinItalic.woff2') format('woff2'),
       url('/fonts/lark/Lark-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lark Light';
  src: url('/fonts/lark/Lark-Light.woff2') format('woff2'),
       url('/fonts/lark/Lark-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lark Light Italic';
  src: url('/fonts/lark/Lark-LightItalic.woff2') format('woff2'),
       url('/fonts/lark/Lark-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lark Regular';
  src: url('/fonts/lark/Lark-Regular.woff2') format('woff2'),
       url('/fonts/lark/Lark-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lark Italic';
  src: url('/fonts/lark/Lark-Italic.woff2') format('woff2'),
       url('/fonts/lark/Lark-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lark Medium';
  src: url('/fonts/lark/Lark-Medium.woff2') format('woff2'),
       url('/fonts/lark/Lark-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lark Medium Italic';
  src: url('/fonts/lark/Lark-MediumItalic.woff2') format('woff2'),
       url('/fonts/lark/Lark-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lark Bold';
  src: url('/fonts/lark/Lark-Bold.woff2') format('woff2'),
       url('/fonts/lark/Lark-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lark Bold Italic';
  src: url('/fonts/lark/Lark-BoldItalic.woff2') format('woff2'),
       url('/fonts/lark/Lark-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
