@font-face {
    font-family: 'Latteria Light';
    src: url('/fonts/latteria/Latteria-Light.woff2') format('woff2'),
        url('/fonts/latteria/Latteria-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latteria Regular';
    src: url('/fonts/latteria/Latteria-Regular.woff2') format('woff2'),
        url('/fonts/latteria/Latteria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latteria Bold';
    src: url('/fonts/latteria/Latteria-Bold.woff2') format('woff2'),
        url('/fonts/latteria/Latteria-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latteria Black';
    src: url('/fonts/latteria/Latteria-Black.woff2') format('woff2'),
        url('/fonts/latteria/Latteria-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Latteria Inline';
    src: url('/fonts/latteria/Latteria-Inline.woff2') format('woff2'),
        url('/fonts/latteria/Latteria-Inline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

