@font-face {
  font-family: 'Lavanderia Light';
  src: url('/fonts/lavanderia/Lavanderia-Light.woff2') format('woff2'),
       url('/fonts/lavanderia/Lavanderia-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lavanderia Regular';
  src: url('/fonts/lavanderia/Lavanderia-Regular.woff2') format('woff2'),
       url('/fonts/lavanderia/Lavanderia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lavanderia Bold';
  src: url('/fonts/lavanderia/Lavanderia-Bold.woff2') format('woff2'),
       url('/fonts/lavanderia/Lavanderia-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
