@font-face {
    font-family: 'Le Havre Thin';
    src: url('/fonts/le-havre/LeHavre-Thin.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Thin Italic';
    src: url('/fonts/le-havre/LeHavre-ThinItalic.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Light';
    src: url('/fonts/le-havre/LeHavre-Light.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Light Italic';
    src: url('/fonts/le-havre/LeHavre-LightItalic.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Regular';
    src: url('/fonts/le-havre/LeHavre-Regular.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Italic';
    src: url('/fonts/le-havre/LeHavre-Italic.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Bold';
    src: url('/fonts/le-havre/LeHavre-Bold.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Bold Italic';
    src: url('/fonts/le-havre/LeHavre-BoldItalic.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Black';
    src: url('/fonts/le-havre/LeHavre-Black.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Havre Black Italic';
    src: url('/fonts/le-havre/LeHavre-BlackItalic.woff2') format('woff2'),
        url('/fonts/le-havre/LeHavre-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

