@font-face {
    font-family: 'Le Jeune Poster Medium';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Medium.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Medium Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-MediumItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Bold';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Bold.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster SemiBold';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-SemiBold.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Light';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Light.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Black';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Black.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Bold Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-BoldItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Regular';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Regular.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Black Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-BlackItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster SemiBold Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-Italic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Poster Light Italic';
    src: url('/fonts/le-jeune-poster/LeJeunePoster-LightItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-poster/LeJeunePoster-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

