@font-face {
    font-family: 'Le Jeune Deck Light';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Light.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Light Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-LightItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Regular';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Regular.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Italic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Medium';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Medium.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Medium Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-MediumItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck SemiBold';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-SemiBold.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck SemiBold Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Bold';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Bold.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Bold Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-BoldItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Black';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-Black.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Le Jeune Deck Black Italic';
    src: url('/fonts/le-jeune-deck/LeJeuneDeck-BlackItalic.woff2') format('woff2'),
        url('/fonts/le-jeune-deck/LeJeuneDeck-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

