@font-face {
  font-family: 'Lena Roman Thin';
  src: url('/fonts/lena-roman/LenaRoman-Thin.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lena Roman Light';
  src: url('/fonts/lena-roman/LenaRoman-Light.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lena Roman Regular';
  src: url('/fonts/lena-roman/LenaRoman-Regular.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lena Roman Medium';
  src: url('/fonts/lena-roman/LenaRoman-Medium.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lena Roman Bold';
  src: url('/fonts/lena-roman/LenaRoman-Bold.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lena Roman Black';
  src: url('/fonts/lena-roman/LenaRoman-Black.woff2') format('woff2'),
       url('/fonts/lena-roman/LenaRoman-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
