@font-face {
  font-family: 'Listerby Neue Thin';
  src: url('/fonts/listerby-neue/ListerbyNeue-Thin.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Listerby Neue Light';
  src: url('/fonts/listerby-neue/ListerbyNeue-Light.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Listerby Neue Regular';
  src: url('/fonts/listerby-neue/ListerbyNeue-Regular.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Listerby Neue Medium';
  src: url('/fonts/listerby-neue/ListerbyNeue-Medium.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Listerby Neue Bold';
  src: url('/fonts/listerby-neue/ListerbyNeue-Bold.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Listerby Neue Black';
  src: url('/fonts/listerby-neue/ListerbyNeue-Black.woff2') format('woff2'),
       url('/fonts/listerby-neue/ListerbyNeue-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
