@font-face {
    font-family: 'Logan Compressed Regular';
    src: url('/fonts/logan-compressed/LoganCompressed-Regular.woff2') format('woff2'),
        url('/fonts/logan-compressed/LoganCompressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Compressed Bold';
    src: url('/fonts/logan-compressed/LoganCompressed-Bold.woff2') format('woff2'),
        url('/fonts/logan-compressed/LoganCompressed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Compressed Light';
    src: url('/fonts/logan-compressed/LoganCompressed-Light.woff2') format('woff2'),
        url('/fonts/logan-compressed/LoganCompressed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Compressed Medium';
    src: url('/fonts/logan-compressed/LoganCompressed-Medium.woff2') format('woff2'),
        url('/fonts/logan-compressed/LoganCompressed-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

