@font-face {
    font-family: 'Logan Condensed Light';
    src: url('/fonts/logan-condensed/LoganCondensed-Light.woff2') format('woff2'),
        url('/fonts/logan-condensed/LoganCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Condensed Bold';
    src: url('/fonts/logan-condensed/LoganCondensed-Bold.woff2') format('woff2'),
        url('/fonts/logan-condensed/LoganCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Condensed Medium';
    src: url('/fonts/logan-condensed/LoganCondensed-Medium.woff2') format('woff2'),
        url('/fonts/logan-condensed/LoganCondensed-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Condensed Regular';
    src: url('/fonts/logan-condensed/LoganCondensed-Regular.woff2') format('woff2'),
        url('/fonts/logan-condensed/LoganCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

