@font-face {
    font-family: 'Logan Regular';
    src: url('/fonts/logan/Logan-Regular.woff2') format('woff2'),
        url('/fonts/logan/Logan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Bold';
    src: url('/fonts/logan/Logan-Bold.woff2') format('woff2'),
        url('/fonts/logan/Logan-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Light';
    src: url('/fonts/logan/Logan-Light.woff2') format('woff2'),
        url('/fonts/logan/Logan-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Logan Medium';
    src: url('/fonts/logan/Logan-Medium.woff2') format('woff2'),
        url('/fonts/logan/Logan-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

