@font-face {
    font-family: 'Lovelo Bold';
    src: url('/fonts/lovelo/Lovelo-Bold.woff2') format('woff2'),
        url('/fonts/lovelo/Lovelo-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lovelo Filled';
    src: url('/fonts/lovelo/Lovelo-Filled.woff2') format('woff2'),
        url('/fonts/lovelo/Lovelo-Filled.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lovelo Light';
    src: url('/fonts/lovelo/Lovelo-Light.woff2') format('woff2'),
        url('/fonts/lovelo/Lovelo-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

