@font-face {
    font-family: 'Lucille Thin';
    src: url('/fonts/lucille/Lucille-Thin.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Thin Italic';
    src: url('/fonts/lucille/Lucille-ThinItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Light';
    src: url('/fonts/lucille/Lucille-Light.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Light Italic';
    src: url('/fonts/lucille/Lucille-LightItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Regular';
    src: url('/fonts/lucille/Lucille-Regular.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Italic';
    src: url('/fonts/lucille/Lucille-Italic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Medium';
    src: url('/fonts/lucille/Lucille-Medium.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Medium Italic';
    src: url('/fonts/lucille/Lucille-MediumItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille SemiBold';
    src: url('/fonts/lucille/Lucille-SemiBold.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille SemiBold Italic';
    src: url('/fonts/lucille/Lucille-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Bold';
    src: url('/fonts/lucille/Lucille-Bold.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Bold Italic';
    src: url('/fonts/lucille/Lucille-BoldItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Black';
    src: url('/fonts/lucille/Lucille-Black.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucille Black Italic';
    src: url('/fonts/lucille/Lucille-BlackItalic.woff2') format('woff2'),
        url('/fonts/lucille/Lucille-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

