@font-face {
    font-family: 'Maxwell Sans Medium Italic';
    src: url('/fonts/maxwell-sans/MaxwellSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Italic';
    src: url('/fonts/maxwell-sans/MaxwellSans-Italic.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Medium';
    src: url('/fonts/maxwell-sans/MaxwellSans-Medium.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Light';
    src: url('/fonts/maxwell-sans/MaxwellSans-Light.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Light Italic';
    src: url('/fonts/maxwell-sans/MaxwellSans-LightItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Bold';
    src: url('/fonts/maxwell-sans/MaxwellSans-Bold.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Thin';
    src: url('/fonts/maxwell-sans/MaxwellSans-Thin.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Thin Italic';
    src: url('/fonts/maxwell-sans/MaxwellSans-ThinItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Regular';
    src: url('/fonts/maxwell-sans/MaxwellSans-Regular.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell Sans Bold Italic';
    src: url('/fonts/maxwell-sans/MaxwellSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sans/MaxwellSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

