@font-face {
    font-family: 'Maxwell SC Light Italic';
    src: url('/fonts/maxwell-sc/MaxwellSC-LightItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Medium Italic';
    src: url('/fonts/maxwell-sc/MaxwellSC-MediumItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Bold Italic';
    src: url('/fonts/maxwell-sc/MaxwellSC-BoldItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Thin Italic';
    src: url('/fonts/maxwell-sc/MaxwellSC-ThinItalic.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Medium';
    src: url('/fonts/maxwell-sc/MaxwellSC-Medium.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Italic';
    src: url('/fonts/maxwell-sc/MaxwellSC-Italic.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Bold';
    src: url('/fonts/maxwell-sc/MaxwellSC-Bold.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Thin';
    src: url('/fonts/maxwell-sc/MaxwellSC-Thin.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Light';
    src: url('/fonts/maxwell-sc/MaxwellSC-Light.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maxwell SC Regular';
    src: url('/fonts/maxwell-sc/MaxwellSC-Regular.woff2') format('woff2'),
        url('/fonts/maxwell-sc/MaxwellSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

