@font-face {
    font-family: 'Mimmi Swash SemiBold';
    src: url('/fonts/mimmi-swash/MimmiSwash-SemiBold.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash Thin';
    src: url('/fonts/mimmi-swash/MimmiSwash-Thin.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash ExtraLight';
    src: url('/fonts/mimmi-swash/MimmiSwash-ExtraLight.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash Bold';
    src: url('/fonts/mimmi-swash/MimmiSwash-Bold.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash Light';
    src: url('/fonts/mimmi-swash/MimmiSwash-Light.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash Regular';
    src: url('/fonts/mimmi-swash/MimmiSwash-Regular.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mimmi Swash Medium';
    src: url('/fonts/mimmi-swash/MimmiSwash-Medium.woff2') format('woff2'),
        url('/fonts/mimmi-swash/MimmiSwash-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

