@font-face {
  font-family: 'Monotalics Light';
  src: url('/fonts/monotalics/Monotalics-Light.woff2') format('woff2'),
       url('/fonts/monotalics/Monotalics-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Regular';
  src: url('/fonts/monotalics/Monotalics-Regular.woff2') format('woff2'),
       url('/fonts/monotalics/Monotalics-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Medium';
  src: url('/fonts/monotalics/Monotalics-Medium.woff2') format('woff2'),
       url('/fonts/monotalics/Monotalics-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Bold';
  src: url('/fonts/monotalics/Monotalics-Bold.woff2') format('woff2'),
       url('/fonts/monotalics/Monotalics-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
