@font-face {
  font-family: 'Monotalics Narrow Light';
  src: url('/fonts/monotalics-narrow/MonotalicsNarrow-Light.woff2') format('woff2'),
       url('/fonts/monotalics-narrow/MonotalicsNarrow-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Narrow Regular';
  src: url('/fonts/monotalics-narrow/MonotalicsNarrow-Regular.woff2') format('woff2'),
       url('/fonts/monotalics-narrow/MonotalicsNarrow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Narrow Medium';
  src: url('/fonts/monotalics-narrow/MonotalicsNarrow-Medium.woff2') format('woff2'),
       url('/fonts/monotalics-narrow/MonotalicsNarrow-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monotalics Narrow Bold';
  src: url('/fonts/monotalics-narrow/MonotalicsNarrow-Bold.woff2') format('woff2'),
       url('/fonts/monotalics-narrow/MonotalicsNarrow-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
