@font-face {
  font-family: 'Novecento Thin';
  src: url('/fonts/novecento/Novecento-Thin.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento ExtraLight';
  src: url('/fonts/novecento/Novecento-ExtraLight.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Light';
  src: url('/fonts/novecento/Novecento-Light.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Regular';
  src: url('/fonts/novecento/Novecento-Regular.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Medium';
  src: url('/fonts/novecento/Novecento-Medium.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento SemiBold';
  src: url('/fonts/novecento/Novecento-SemiBold.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Bold';
  src: url('/fonts/novecento/Novecento-Bold.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Black';
  src: url('/fonts/novecento/Novecento-Black.woff2') format('woff2'),
       url('/fonts/novecento/Novecento-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
