@font-face {
    font-family: 'Novecento Condensed Thin';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Thin.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed ExtraLight';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-ExtraLight.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed Light';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Light.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed Regular';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Regular.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed Medium';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Medium.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed SemiBold';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-SemiBold.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed Bold';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Bold.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Novecento Condensed Black';
    src: url('/fonts/novecento-condensed/NovecentoCondensed-Black.woff2') format('woff2'),
        url('/fonts/novecento-condensed/NovecentoCondensed-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

