@font-face {
    font-family: 'Veselka';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Veselka.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Veselka.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noir';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Noir.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Noir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Baroque';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Baroque.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Baroque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swashington';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Swashington.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Swashington.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Emperor';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Emperor.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Emperor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fleurer';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Fleurer.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Fleurer.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lindy';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Lindy.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Lindy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Andrade';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Andrade.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Andrade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Skinny';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Skinny.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Skinny.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfil';
    src: url('/fonts/odd-fellows-vol-3/OddFellow-Perfil.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-3/OddFellow-Perfil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

