@font-face {
    font-family: 'Albro';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Albro.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Albro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neoreby';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Neoreby.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Neoreby.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Banjo';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Banjo.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Banjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sunset';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Sunset.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Sunset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Regatta';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Regatta.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Regatta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Circe.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Circe.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Italiano';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Italiano.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Italiano.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'F37X';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-F37X.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-F37X.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tilt Warp';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-TiltWarp.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-TiltWarp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outline';
    src: url('/fonts/odd-fellows-vol-2/OddFellow-Outline.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-2/OddFellow-Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

