@font-face {
  font-family: 'Abigail';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Abigail.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Abigail.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atrax';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Atrax.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Atrax.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chica';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Chica.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Chica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exotique';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Exotique.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Exotique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inline';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Inline.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Inline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Magnate';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Magnate.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Magnate.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oposta';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Oposta.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Oposta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksilver';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Quicksilver.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Quicksilver.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stripe';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Stripe.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Stripe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Synthetique';
  src: url('/fonts/odd-fellows-vol-1/OddFellow-Synthetique.woff2') format('woff2'),
       url('/fonts/odd-fellows-vol-1/OddFellow-Synthetique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}