@font-face {
    font-family: 'Sybil';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Sybil.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Sybil.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Solid';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Solid.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Solid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aparo';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Aparo.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Aparo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zart';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Zart.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Zart.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Flourish';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Flourish.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Flourish.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quasith';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Quasith.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Quasith.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxae';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Luxae.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Luxae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Blandit';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Blandit.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Blandit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Estilo';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Estilo.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Estilo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norwester';
    src: url('/fonts/odd-fellows-vol-4/OddFellow-Norwester.woff2') format('woff2'),
        url('/fonts/odd-fellows-vol-4/OddFellow-Norwester.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

