@font-face {
    font-family: 'Operator Medium';
    src: url('/fonts/operator/Operator-Medium.woff2') format('woff2'),
        url('/fonts/operator/Operator-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Medium Italic';
    src: url('/fonts/operator/Operator-MediumItalic.woff2') format('woff2'),
        url('/fonts/operator/Operator-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Light';
    src: url('/fonts/operator/Operator-Light.woff2') format('woff2'),
        url('/fonts/operator/Operator-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Bold Italic';
    src: url('/fonts/operator/Operator-BoldItalic.woff2') format('woff2'),
        url('/fonts/operator/Operator-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Thin Italic';
    src: url('/fonts/operator/Operator-ThinItalic.woff2') format('woff2'),
        url('/fonts/operator/Operator-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Regular';
    src: url('/fonts/operator/Operator-Regular.woff2') format('woff2'),
        url('/fonts/operator/Operator-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Italic';
    src: url('/fonts/operator/Operator-Italic.woff2') format('woff2'),
        url('/fonts/operator/Operator-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Thin';
    src: url('/fonts/operator/Operator-Thin.woff2') format('woff2'),
        url('/fonts/operator/Operator-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Bold';
    src: url('/fonts/operator/Operator-Bold.woff2') format('woff2'),
        url('/fonts/operator/Operator-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Operator Light Italic';
    src: url('/fonts/operator/Operator-LightItalic.woff2') format('woff2'),
        url('/fonts/operator/Operator-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

