@font-face {
    font-family: 'Overpass Thin';
    src: url('/fonts/overpass/Overpass-Thin.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass ExtraLight';
    src: url('/fonts/overpass/Overpass-ExtraLight.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Light';
    src: url('/fonts/overpass/Overpass-Light.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Regular';
    src: url('/fonts/overpass/Overpass-Regular.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Medium';
    src: url('/fonts/overpass/Overpass-Medium.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass SemiBold';
    src: url('/fonts/overpass/Overpass-SemiBold.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Overpass Bold';
    src: url('/fonts/overpass/Overpass-Bold.woff2') format('woff2'),
        url('/fonts/overpass/Overpass-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

