@font-face {
    font-family: 'Paganini Open';
    src: url('/fonts/paganini/Paganini-Open.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-Open.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Italic';
    src: url('/fonts/paganini/Paganini-Italic.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Bold Italic';
    src: url('/fonts/paganini/Paganini-BoldItalic.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Bold';
    src: url('/fonts/paganini/Paganini-Bold.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Light';
    src: url('/fonts/paganini/Paganini-Light.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Regular';
    src: url('/fonts/paganini/Paganini-Regular.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paganini Light Italic';
    src: url('/fonts/paganini/Paganini-LightItalic.woff2') format('woff2'),
        url('/fonts/paganini/Paganini-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

