@font-face {
    font-family: 'Paulette Script Black';
    src: url('/fonts/paulette-script/PauletteScript-Black.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paulette Script Medium';
    src: url('/fonts/paulette-script/PauletteScript-Medium.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paulette Script Light';
    src: url('/fonts/paulette-script/PauletteScript-Light.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paulette Script Bold';
    src: url('/fonts/paulette-script/PauletteScript-Bold.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paulette Script Thin';
    src: url('/fonts/paulette-script/PauletteScript-Thin.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paulette Script Regular';
    src: url('/fonts/paulette-script/PauletteScript-Regular.woff2') format('woff2'),
        url('/fonts/paulette-script/PauletteScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

