@font-face {
    font-family: 'Perfect Didone Thin Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-ThinItalic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-Italic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Thin';
    src: url('/fonts/perfect-didone/PerfectDidone-Thin.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Bold Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-BoldItalic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Light';
    src: url('/fonts/perfect-didone/PerfectDidone-Light.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Light Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-LightItalic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Medium Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-MediumItalic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Medium';
    src: url('/fonts/perfect-didone/PerfectDidone-Medium.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Bold';
    src: url('/fonts/perfect-didone/PerfectDidone-Bold.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Regular';
    src: url('/fonts/perfect-didone/PerfectDidone-Regular.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Black';
    src: url('/fonts/perfect-didone/PerfectDidone-Black.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Perfect Didone Black Italic';
    src: url('/fonts/perfect-didone/PerfectDidone-BlackItalic.woff2') format('woff2'),
        url('/fonts/perfect-didone/PerfectDidone-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

