@font-face {
  font-family: 'Selma Script Thin';
  src: url('/fonts/selma-script/SelmaScript-Thin.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selma Script Light';
  src: url('/fonts/selma-script/SelmaScript-Light.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selma Script Regular';
  src: url('/fonts/selma-script/SelmaScript-Regular.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selma Script SemiBold';
  src: url('/fonts/selma-script/SelmaScript-SemiBold.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selma Script Bold';
  src: url('/fonts/selma-script/SelmaScript-Bold.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Selma Script Black';
  src: url('/fonts/selma-script/SelmaScript-Black.woff2') format('woff2'),
       url('/fonts/selma-script/SelmaScript-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
