@font-face {
    font-family: 'Sofia Script Black';
    src: url('/fonts/sofia-script/SofiaScript-Black.woff2') format('woff2'),
        url('/fonts/sofia-script/SofiaScript-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Script Regular';
    src: url('/fonts/sofia-script/SofiaScript-Regular.woff2') format('woff2'),
        url('/fonts/sofia-script/SofiaScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Script Medium';
    src: url('/fonts/sofia-script/SofiaScript-Medium.woff2') format('woff2'),
        url('/fonts/sofia-script/SofiaScript-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Script Bold';
    src: url('/fonts/sofia-script/SofiaScript-Bold.woff2') format('woff2'),
        url('/fonts/sofia-script/SofiaScript-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Script Light';
    src: url('/fonts/sofia-script/SofiaScript-Light.woff2') format('woff2'),
        url('/fonts/sofia-script/SofiaScript-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

