@font-face {
    font-family: 'Supernova Flat';
    src: url('/fonts/supernova/Supernova-Flat.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Flat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Square';
    src: url('/fonts/supernova/Supernova-Square.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Square.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Cut';
    src: url('/fonts/supernova/Supernova-Cut.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Cut.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Slim';
    src: url('/fonts/supernova/Supernova-Slim.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Slim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Script';
    src: url('/fonts/supernova/Supernova-Script.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Round';
    src: url('/fonts/supernova/Supernova-Round.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Round.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Regular';
    src: url('/fonts/supernova/Supernova-Regular.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Supernova Oval';
    src: url('/fonts/supernova/Supernova-Oval.woff2') format('woff2'),
        url('/fonts/supernova/Supernova-Oval.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

