@font-face {
    font-family: 'Suzie Book Regular';
    src: url('/fonts/suzie-book/SuzieBook-Regular.woff2') format('woff2'),
        url('/fonts/suzie-book/SuzieBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suzie Book Alt';
    src: url('/fonts/suzie-book/SuzieBook-Alt.woff2') format('woff2'),
        url('/fonts/suzie-book/SuzieBook-Alt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suzie Book Caps';
    src: url('/fonts/suzie-book/SuzieBook-Caps.woff2') format('woff2'),
        url('/fonts/suzie-book/SuzieBook-Caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suzie Book Caps Alt';
    src: url('/fonts/suzie-book/SuzieBook-CapsAlt.woff2') format('woff2'),
        url('/fonts/suzie-book/SuzieBook-CapsAlt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

