@font-face {
  font-family: 'Tomarik Simple';
  src: url('/fonts/tomarik/Tomarik-Simple.woff2') format('woff2'),
       url('/fonts/tomarik/Tomarik-Simple.woff') format('woff'),
       url('/fonts/tomarik/Tomarik-Simple.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomarik Duo';
  src: url('/fonts/tomarik/Tomarik-Duo.woff2') format('woff2'),
       url('/fonts/tomarik/Tomarik-Duo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomarik Line';
  src: url('/fonts/tomarik/Tomarik-Line.woff2') format('woff2'),
       url('/fonts/tomarik/Tomarik-Line.woff') format('woff'),
       url('/fonts/tomarik/Tomarik-Line.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tomarik Multi';
  src: url('/fonts/tomarik/Tomarik-Multi.woff2') format('woff2'),
       url('/fonts/tomarik/Tomarik-Multi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
