@font-face {
    font-family: 'Underground Pro PC Bold';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-Bold.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro PC Medium';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-Medium.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro PC Thin';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-Thin.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro PC Light';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-Light.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro PC SemiBold';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-SemiBold.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro PC Regular';
    src: url('/fonts/underground-pro-pc/UndergroundProPC-Regular.woff2') format('woff2'),
        url('/fonts/underground-pro-pc/UndergroundProPC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

