@font-face {
    font-family: 'Underground Pro SC Bold';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-Bold.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro SC Light';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-Light.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro SC SemiBold';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-SemiBold.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro SC Medium';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-Medium.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro SC Thin';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-Thin.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro SC Regular';
    src: url('/fonts/underground-pro-sc/UndergroundProSC-Regular.woff2') format('woff2'),
        url('/fonts/underground-pro-sc/UndergroundProSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

