@font-face {
    font-family: 'Underground Pro SemiBold';
    src: url('/fonts/underground-pro/UndergroundPro-SemiBold.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro Thin';
    src: url('/fonts/underground-pro/UndergroundPro-Thin.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro Medium';
    src: url('/fonts/underground-pro/UndergroundPro-Medium.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro Bold';
    src: url('/fonts/underground-pro/UndergroundPro-Bold.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro Light';
    src: url('/fonts/underground-pro/UndergroundPro-Light.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Underground Pro Regular';
    src: url('/fonts/underground-pro/UndergroundPro-Regular.woff2') format('woff2'),
        url('/fonts/underground-pro/UndergroundPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

