---
layout: layouts/base.njk
eleventyNavigation:
  key: Contact
  order: 5
---
<link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">

<h1 class="pagetitle">Say Hi</h1>

<form action="https://send.pageclip.co/fW12uzNXdqVENZr3UecbRNhZPl7qWkna/contact-form" class="pageclip-form" method="post">
  <fieldset>
    <div class="form-group">
      <label for="name" class="form-label mt-4">Your Name:</label>
      <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="form-group">
      <label for="email" class="form-label mt-4">Email Address:</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="phone" class="form-label mt-4">Phone Number:</label>
      <input type="tel" class="form-control" name="phone" id="phone">
    </div>
    <div class="form-group">
      <label for="subject" class="form-label mt-4">Subject:</label>
      <input type="text" class="form-control" name="subject" id="subject">
    </div>
    <div class="form-group">
      <label for="message" class="form-label mt-4">Your Message:</label>
      <textarea class="form-control" id="message" name="message" rows="3"></textarea>
    </div>
    <br>
    <button type="submit" class="btn my-btn pageclip-form__submit">Submit</button>
  </fieldset>
</form>

<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>