@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/kollektif/Kollektif-Regular.woff2') format('woff2'),
       url('/fonts/kollektif/Kollektif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/kollektif/Kollektif-Italic.woff2') format('woff2'),
       url('/fonts/kollektif/Kollektif-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/kollektif/Kollektif-Bold.woff2') format('woff2'),
       url('/fonts/kollektif/Kollektif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/kollektif/Kollektif-BoldItalic.woff2') format('woff2'),
       url('/fonts/kollektif/Kollektif-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Abigail';
  src: url('/fonts/abigail/Abigail-Regular.woff2') format('woff2'),
    url('/fonts/abigail/Abigail-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}