@font-face {
    font-family: 'Rader SemiBold Italic';
    src: url('/fonts/rader/Rader-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-SemiBoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Light';
    src: url('/fonts/rader/Rader-Light.woff2') format('woff2'),
        url('/fonts/rader/Rader-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Black';
    src: url('/fonts/rader/Rader-Black.woff2') format('woff2'),
        url('/fonts/rader/Rader-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader SemiBold';
    src: url('/fonts/rader/Rader-SemiBold.woff2') format('woff2'),
        url('/fonts/rader/Rader-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader ExtraLight Italic';
    src: url('/fonts/rader/Rader-ExtraLightItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-ExtraLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Italic';
    src: url('/fonts/rader/Rader-Italic.woff2') format('woff2'),
        url('/fonts/rader/Rader-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Bold';
    src: url('/fonts/rader/Rader-Bold.woff2') format('woff2'),
        url('/fonts/rader/Rader-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Regular';
    src: url('/fonts/rader/Rader-Regular.woff2') format('woff2'),
        url('/fonts/rader/Rader-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Medium Italic';
    src: url('/fonts/rader/Rader-MediumItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader ExtraLight';
    src: url('/fonts/rader/Rader-ExtraLight.woff2') format('woff2'),
        url('/fonts/rader/Rader-ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Thin';
    src: url('/fonts/rader/Rader-Thin.woff2') format('woff2'),
        url('/fonts/rader/Rader-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Black Italic';
    src: url('/fonts/rader/Rader-BlackItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Light Italic';
    src: url('/fonts/rader/Rader-LightItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Bold Italic';
    src: url('/fonts/rader/Rader-BoldItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Medium';
    src: url('/fonts/rader/Rader-Medium.woff2') format('woff2'),
        url('/fonts/rader/Rader-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rader Thin Italic';
    src: url('/fonts/rader/Rader-ThinItalic.woff2') format('woff2'),
        url('/fonts/rader/Rader-ThinItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

