---
layout: layouts/base.njk
---
{%- css %}{% include "public/css/fontsampler/fontsampler-skin.css" %}{%- endcss %}
{%- css %}{% include "public/css/fonts/{{ pathName }}.css" %}{%- endcss %}
{%- js %}{% include "public/js/fontsampler/fontsampler.js" %}{%- endjs %}
{%- js %}{% include "public/js/fontsampler/fontsampler-skin.js" %}{%- endjs %}
{%- js %}{% include "public/js/fonts/{{ pathName }}.js" %}{%- endjs %}
{%- js %}{% include "public/js/tinymce/tinymce.min.js" %}{%- endjs %}
<h1 class="posttitle">{{ title }}</h1>

<div>
<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" data-bs-toggle="tab" href="#typetester" aria-selected="true" role="tab">Typetester</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#texteditor" aria-selected="false" role="tab"
      tabindex="-1">Texteditor</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#download" aria-selected="false" tabindex="-1"
      role="tab">Download</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" data-bs-toggle="tab" href="#info" aria-selected="false" tabindex="-1" role="tab">Info</a>
  </li>
</ul>
<div id="typeTester" class="tab-content">
  <div class="tab-pane fade active show" id="typetester" role="tabpanel">
    <div class="wrapper">
      <div class="container">
        <div id="demo">{{ pangram }}</div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="texteditor" role="tabpanel">
    <div class="texteditor">
      <textarea id="editor">
          <h1 style="font-size: 48px; line-height: 1;">Whereas recognition of the inherent dignity</h1>
          <p style="font-size: 16px; line-height: 1.1">From the 1948 Universal Declaration of Human Rights:</p>
          <blockquote style="font-size: 16px; line-height: 1.1">"No one shall be subjected to arbitrary arrest, detention or exile. Everyone is entitled in full equality to a fair and
          public hearing by an independent and impartial tribunal, in the determination of his rights and obligations and of any
          criminal charge against him. No one shall be subjected to arbitrary interference with his privacy, family, home or
          correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the protection of the law
          against such interference or attacks."</blockquote>
          <p style="font-size: 14px; line-height: 1.1">Everyone has the right to freedom of thought, conscience and religion; this right includes freedom to change his
          religion or belief, and freedom, either alone or in community with others and in public or private, to manifest his
          religion or belief in teaching, practice, worship and observance. Everyone has the right to freedom of opinion and
          expression; this right includes freedom to hold opinions without interference and to seek, receive and impart
          information and ideas through any media and regardless of frontiers. Everyone has the right to rest and leisure,
          including reasonable limitation of working hours and periodic holidays with pay.</p>
          <br>
        </textarea>
    </div>
  </div>
  <div class="tab-pane fade" id="download" role="tabpanel">
    <div class="download">
      <h4>Instructions</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem nam numquam aspernatur repellat
        quasi dolor, nobis quidem est nisi quos tenetur perferendis sunt quam et recusandae placeat. Quos, ipsum hic
        velit architecto aut cum odio corrupti dolores fuga id. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Mollitia dicta nihil tempore fugit rem cum eos minus aliquam. Eos modi libero quibusdam, expedita
        sequi repudiandae nihil ipsa voluptatibus recusandae voluptatem.</p>
      <h5><a href="/downloads/{{ zipName }}.zip" class="btn btn-primary my-btn" download>Download</a></h5>
    </div>
  </div>
  <div class="tab-pane fade" id="info" role="tabpanel">
    <div class="fontinfo">
      <h4>Creator</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem nam numquam aspernatur repellat
        quasi dolor, nobis quidem est nisi quos tenetur perferendis sunt quam et recusandae placeat. Quos, ipsum hic
        velit architecto aut cum odio corrupti dolores fuga id. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Mollitia dicta nihil tempore fugit rem cum eos minus aliquam. Eos modi libero quibusdam, expedita
        sequi repudiandae nihil ipsa voluptatibus recusandae voluptatem.</p>
      <h4>Legal</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem nam numquam aspernatur repellat
        quasi dolor, nobis quidem est nisi quos tenetur perferendis sunt quam et recusandae placeat. Quos, ipsum hic
        velit architecto aut cum odio corrupti dolores fuga id. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Mollitia dicta nihil tempore fugit rem cum eos minus aliquam. Eos modi libero quibusdam, expedita
        sequi repudiandae nihil ipsa voluptatibus recusandae voluptatem.</p>
    </div>
  </div>
</div>

{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}